.button-toggle {
  display: block;
  cursor: pointer;
  padding: 16px;
  border: none;
  background: none;

  &::after {
    content: "";
    display: block;
    width: 23px;
    height: 24px;
    background: url("../../img/burger-button.svg") center no-repeat;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.button-toggle--close {
  position: absolute;
  z-index: 3;
  &::after {
    content: "";
    display: block;
    width: 23px;
    height: 24px;
    background: url("../../img/icon-cross.svg") center no-repeat;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}
