@button-background-color: #81B3D2;
@button-text-color: #ffffff;

.button{
  display: block;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
  background: @button-background-color;
  color: @button-text-color;
}
