@button-background-color: #81B3D2;
@button-text-color: #ffffff;

.button{
  display: block;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  background: @button-background-color;
  color: @button-text-color;
}
