.button {
  display: block;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
  background: #81b3d2;
  color: #ffffff;

  &:hover {
    background: #669ec0;
  }

  &:active {
    background: #5496bd;
  }

  &:disabled {
    background: #e5e5e5;
  }
}
