.card{
  width: 100%;
  padding-top: 25px;
  border-top: 1px solid #E5E5E5;
  &__block{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__link{
    display: block;
  }
  &__img{
    display: block;
  }
  &__name{
    padding-top: 15px;
    width: 280px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
  &__title{
    display: block;
    width: 100%;
    flex-grow: 1;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    color: #000000;
  }
  &__wrap{
    width: 100%;
    display: flex;
  }
  &__text{
    display: block;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    line-height: 1.5;
  }
  &__author{
    margin: 0;
    flex-grow: 1;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    line-height: 1.5;
  }
  &__button{
    display: block;
    padding: 11px 14px 25px 0;
    cursor: pointer;
    background: none;
  }
  &__text--bold{
    padding-bottom: 23px;
    font-weight: 700;
    line-height: 1;
    align-self: flex-end;
  }
}
