.card {
  width: 100%;
  padding-top: 25px;
  border-top: 1px solid #e5e5e5;
}

.card__block {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__link {
  display: block;
}

.card__img {
  display: block;
}

.card__name {
  padding-top: 15px;
  width: 280px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.card__title {
  display: block;
  width: 100%;
  flex-grow: 1;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
}

.card__wrap {
  width: 100%;
  display: flex;
}

.card__text {
  display: block;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  line-height: 1.5;
}

.card__author {
  margin: 0;
  flex-grow: 1;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  line-height: 1.5;
}

.card__button {
  display: block;
  padding: 11px 14px 25px 0;
  cursor: pointer;
  background: none;
  border: 0;
}

.card__text--view {
  padding-bottom: 23px;
  font-weight: 700;
  line-height: 1;
  align-self: flex-end;
}
