.copyright {
  padding-bottom: 23px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
  }
}

.copyright__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.5;
}

.copyright__link {
  display: block;
  width: 27px;
  height: 32px;
}
