.copyright{
  padding-bottom: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__title{
    margin:0;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.5;
  }
  &__link{
    display: block;
    width: 27px;
    height: 32px;
  }
}
