.copyright {
  padding-bottom: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright__title{
  margin:0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.5;
}
.copyright__link{
  display: block;
  width: 27px;
  height: 32px;
}
@media (min-width: @tablet-width) {
  .copyright{
    padding-bottom: 0;
  }
}
