.fieldset{
  width: auto;
  padding: 25px 0 40px 0;
  margin: 0;
  border: 0;
  border-top: 1px solid #E5E5E5;
  outline: none;
  outline-offset: 0;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  font-weight: 700;
  &__list{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  &__title{
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.44;
    text-transform: uppercase;
  }
  &__item{
    text-align: left;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  &__label{
    padding-left: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #333333;
  }
  &__input{
    display: block;
    width: 87%;
    margin: 0;
    border: 0;
    padding: 16px;
    outline: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.44;
    color: #000000;
    background: #F2F2F2;
    text-align: left;
  }
  &__textarea{
    display: block;
    margin: 0 auto;
    width: 83%;
    min-height: 150px;
    padding: 16px;
    border: 0;
    outline: none;
    outline-offset: 0;
    background: #F2F2F2;
  }
}
