.grid__block {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.grid__link {
  display: block;
  width: 100%;
}

.grid__img {
  display: block;
  width: 100%;
  height: auto;
}

.grid__name {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px 30px 30px;
}

.grid__title {
  grid-column: 1/-1;
  grid-row: 1/2;
  width: 100%;
}

.grid__text {
  grid-column: 1/2;
  grid-row: 2/3;
}

.grid__author {
  grid-column: 2/3;
  grid-row: 2/3;
}

.grid__button {
  display: block;
}
