.gird__block {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid__link {
  display: block;
  width: 100%;
}

.grid__img {
  display: block;
  width: 100%;
  height: auto;
}
