<<<<<<< HEAD
.header{
  width: 100%;
  position: relative;
  &__logo{
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, 0);
  }
}
=======

>>>>>>> f1c3b3f588371c9febef296c6bb5a6367b249018
