.info__title{
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.44;
  font-weight: 700;
}
.info__text{
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}
.info__list{
  list-style-type: none;
}
