.main{
  width: 100%;
  background-color: #81B3D2;
  background-image: url("../../img/back-tablet.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &__img{
    padding-top: 56px;
    padding-bottom: 110px;
    display: block;
    width: 100%;
    margin-bottom: 39px;
  }
  &::after{
    display: block;
    content: "";
    position: absolute;
    width: 160px;
    height: 57px;
    background: url("../../img/triangle.svg") center no-repeat;
    left: 50%;
    bottom: 0;
    z-index: 1;
  }
  &::before{
    display: block;
    content: "";
    position: absolute;
    width: 160px;
    height: 57px;
    background: url("../../img/triangle.svg") center no-repeat;
    right: 50%;
    bottom: 0;
    z-index: 1;
    transform: scaleX(-1);
  }
}
@media (min-width: @tablet-width){
  .main{
    background-image: url("../../img/back-tablet.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main::after{
    width: 768px;
    background: url("../../img/tablet-frame.svg") center no-repeat;
    right: 0;
    left: 0;
    z-index: 2;
  }
}
