.modal{
  padding: 45px 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title{
    margin: 0 0 26px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.44;
    font-weight: 700;
  }
  &__info{
    margin: 0 0 26px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
  }
  &__button{
    padding: 18px 60px 14px 60px;
  }
  &--hidden{
    display: none;
  }
}
