.navigation {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-around;
    color: #000000;
    box-shadow: none;
    font-size: 14px;
    line-height: 1.5;
    background: none;
  }

  @media (min-width: @desktop-width) {
    width: 40%;
  }
}

.navigation--hidden {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.navigation__item {
  @media (min-width: @tablet-width) {
    padding: 0 28px;
  }
}

.navigation__link {
  display: block;
  width: 100%;
  padding: 17px 0 12px 0;
  text-decoration: none;
  color: #ffffff;
  background: #81b3d2;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.44;
  font-weight: 700;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  &:hover {
    background: #669ec0;
  }

  &:active {
    background: #5496bd;
    opacity: 0.2;
  }


  @media (min-width: @tablet-width) {
    width: auto;
    color: #000000;
    box-shadow: none;
    font-size: 14px;
    line-height: 1.5;
    background: none;

    &:hover {
      color: #81b3d2;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.navigation__link--current {
  @media (min-width: @tablet-width) {
    color: #766357;
  }
}
