.navigation__list{
  list-style-type: none;
  padding: 0;
}
.navigation__link{
  display: block;
  width: 100%;
  padding: 17px 0 12px;
  text-decoration: none;
  color: #ffffff;
  background: #81B3D2;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.44;
  font-weight: 700;
}
