.navigation{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.navigation__toggle{
  width: 56px;
  height: 56px;
  background: url("../../img/burger-button.svg") center no-repeat;
  align-self: flex-end;
  cursor: pointer;
}
.navigation__list{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.navigation__link{
  margin-bottom: 1px;
  display: block;
  width: 100%;
  padding: 17px 0 12px;
  text-decoration: none;
  color: #ffffff;
  background: #81B3D2;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.44;
  font-weight: 700;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
