.social{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 38px 0 35px;
  &__list{
    margin:0;
    padding:0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
